$bodyColor1: gray;
$bodyColor2: white;
$searchBoxColor1: lightblue;
$searchBoxColor2: navy;
$searchBoxFontColor: black;
$btnColor1: lightgray;

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    $bodyColor1 0%,
    $bodyColor2 100%
  );
}

.header {
  width: 100%;
  margin: 0;
  padding: 50px;
  background-image: linear-gradient(
    to bottom,
    $searchBoxColor1 0%,
    $searchBoxColor2 100%
  );
}

.search-box {

  &__container {
    display: flex;
    margin: 0 auto;
    width: 800px;
    height: 70px;
  }

  &__input {
    display: inline-block;
    margin: 0;
    padding: 11px;
    width: 600px;
    height: 70px;
    font-size: 48px;
    color: $searchBoxFontColor;
    background-color: $bodyColor2;
    outline: none;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    vertical-align: middle;
  }

  &__input::placeholder {
    font-size: 24px;
    vertical-align: middle;
  }

  &__btn {
    margin: 0;
    padding: 11px;
    width: 200px;
    height: 70px;
    background-color: $btnColor1;
    outline: none;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &__btn:hover {
    cursor: pointer;
    box-shadow: inset -2px -2px 2px 1px black;
  }
  &__icon {
    height: 48px;
    color: $searchBoxFontColor;
  }
}

.body-container {
  margin: 25px auto;
  padding: 0 25px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}

.gallery {
  margin: 0 auto;
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: baseline;

  &__card {
    padding: 10px;
    text-align: center;
    width: 210px;
    background-color: $btnColor1;
  }

  &__card:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px black;
  }
  &__img {
    display: block;
    width: 100%;
    margin-bottom: 20px;

    &-info-cont {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    &-info-likes {
      margin: 0;
      margin-right: 5px;
      padding: 0;
      font-size: 10px;
    }

    &-info-views {
      margin: 0;
      margin-right: 5px;
      padding: 0;
      font-size: 10px;
    }

    &-info-comments {
      margin: 0;
      padding: 0;
      margin-right: 5px;
      font-size: 10px;
    }

    &-info-downloads {
      margin: 0;
      padding: 0;
      font-size: 10px;
    }
  }
}

.img-info__title {
  font-weight: bold;
  display: block;
}

.load-more__btn {
  margin: 20px auto;
  padding: 11px;
  color: $bodyColor2;
  background-color: $searchBoxColor2;
  width: 300px;
  height: 70px;
  font-size: 48px;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-more__btn:hover {
  cursor: pointer;
}